.pinkbackground {
    background-color: #EF476F;
    /* height: 30vh; */
    margin: 0;
}

.darkbluebackground {
background-color: #26547C;
min-height: 70vh;
/* overflow: scroll; */
margin: 0;
padding-top: 2em;
}

.whitebutton {
    background-color: #FFFFFF;
    color:  #26547C;
    font-weight: 700;
    margin: 1em;
}

.smallwhitebutton {
    background-color: #FFFFFF;
    color: #26547C;
    margin: 10px;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }
  
.footerpink {
    background-color: #EF476F;

}

.gifButtons {
    overflow: scroll;
}
#gifSearch {
    border-bottom: 1px solid #26547C;
}

#gifSearch :active {
    border-bottom: 1px solid #26547C;

}

.imageCaption {
    text-align: center;
    max-width: inherit;
}

#gifZone {
    display: none;
}
